<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shingubotanic">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.naver.maps.map.CLIENT_ID" android:value="ntf39b87aq"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home"></activity>
        <activity android:name=".info.info"></activity>
        <activity android:name=".guide.guide"></activity>
        <activity android:name=".guide.guide_intro"></activity>
        <activity android:name=".guide.guide_info"></activity>
        <activity android:name=".guide.guide_fee"></activity>
        <activity android:name=".guide.guide_members"></activity>
        <activity android:name=".guide.guide_note"></activity>
        <activity android:name=".guide.guide_street"></activity>
        <activity android:name=".course"></activity>
        <activity android:name=".weathercou"></activity>


    </application>

</manifest>